// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
	h1, .h1 {
	margin-left: 530px;
	margin-right: 500px;
	}
}
.home {
	h2, .h2 {
	margin-left: 430px;
	margin-right:350px;
	}
}
.btn-margin2 {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    margin-left:585px;
}
.home {
	h3, .h3 {
	margin-left: 550px;
	margin-right:350px;
	}
}
.home {
	h4, .h4 {
	margin-left: 547px;
	margin-right:350px;
	}
}
.btn-margin {
	margin-left:600px;
}
.btn-margin1 {
	margin-left:576.5px;
}
main {
h2, .h2 {
	margin-left: 500px;
	}
}
.panel-heading{	
	a:hover {
	color: #000000;
		}
}
.panel-heading {
h1, .h1 {
	margin-left: 500px;
	margin-right: 350px;
}
}
.table {
	.one {
	padding-left: 200px;
	padding-right: 20px;
	}
}
.btn-margin3 {
	margin-left:580px;
}
.btn-margin4 {
	margin-left:550px;
}
.jumbotron {
	padding-top: 0px;
	padding-bottom: 0px;
}